body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    background-color: rgb(47, 79, 79);
}

#container {
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    max-height: 700px;
    height: 100%;
    max-width: 750px;
    width: 100%;
    min-width: 280px;
    background-color: rgb(0, 0, 0);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px; 
    background-color: rgb(255, 255, 255); 
    font-weight: 300;
    font-size: clamp(3rem, 10vw, 10rem);
}
.cell:active { background-color: rgb(182, 182, 182); }

#display{
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    max-width: 750px;
    width: 100%;
    min-width: 280px;
    background-color: rgb(255, 255, 255);
    font-size: clamp(2.5rem, 3vw, 5rem);
}

#form-container {
    border: none;
    border-radius: 15px;
    height: min-content;
    max-height: 55vh;
    width: 100%;
    max-width: 25vw;
    overflow-y: hidden;
    background-color: rgb(44, 44, 44);
}

::backdrop { background-color: rgba(0, 0, 0, 0.45); }

form {
    display: grid;
    gap: 1rem;
    color: rgb(255, 255, 255);
}

.form-group { display: grid; }
legend { font-size: clamp(0.7rem, 2.2vw, 1.2rem);  }

label { 
    font-size: clamp(0.7rem, 2vw, 1rem); 
    text-box-trim: trim-both; 
    text-box-edge: cap; 
}

input[type="text"] {
    border: none;
    border-radius: 7px;
    padding: 0 0 0 5px;
    min-height: 1.75em;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgb(58, 58, 58);
}

button {
    border: none;
    border-radius: 7px;
    padding: 0;
    font-size: clamp(0.5rem, 1.2vw, 1rem);
}

#buttons {
    display: flex;
    gap: 20px;
}

#start-btn, #reset-btn {
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

button[type="submit"] {
    height: 160%;
    width: 30%;
    min-width: 60px;
    grid-column: 1 / -1;
    justify-self: center;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
}